@page "/Error"
@using System.Diagnostics
@using Microsoft.Extensions.Localization
@using SRMS.WebUI.Server.Resources
@inject IStringLocalizer<Resource> L

<PageTitle>@L["Error_PageTitle"]</PageTitle>

<h1 class="text-danger">@L["Error_Header"]</h1>
<h2 class="text-danger">@L["Error_ProcessingMessage"]</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@L["Error_RequestId"]</strong> <code>@RequestId</code>
    </p>
}

<h3>@L["Error_DevelopmentMode_Title"]</h3>
<p>@((MarkupString)L["Error_DevelopmentMode_Desc1"].Value)</p>
<p>@((MarkupString)L["Error_DevelopmentMode_Desc2"].Value)</p>

@code{
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;

}